* {
	margin: 0;
	padding: 0;
	font-family: monospace;
}

body {
	color: #fff;
	background: #333;
}

/*Menu do topo*/
.menu-p {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	text-align: center;

}

.menu-p li {
	width: 50%;
	padding: 20px;
	transition: 0.5s;
	user-select: none;
}

.menu-p li:hover{
	background: blue;
	color: white;
}

/*Main*/
main {
	box-shadow: inset 0 0 1em black;
}
/*Instumentos*/
.instrumentos {
	list-style: none;
	user-select: none;
	/*border: 1px solid #ccc;*/
	margin: 0 auto;
	width: 90%;
	height: 93vh;
}

.instrumentos .inst {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.instrumentos .inst li {
	height: 20px;
	margin-top: 10vh;
}

.instrumentos button {
	background-image: linear-gradient(to right, #0000ff, #00009b);
	color: white;
	width: 20vh;
	height: 10vh;
}

.instrumentos li, button {
	border-radius: 10px;
	transition: 0.2s;
}

.instrumentos li:hover, button:hover {
	transform: scale(1.1);
	opacity: 0.9;
	cursor: pointer;
}

.instrumentos li:active, button:active {
	transform: scale(0.9);
	opacity: 0.9;
	cursor: progress;
}
/*Menu de baixo*/
/*Footer*/
